.book{
    height: 430px;
    width: 250px;
    margin: 50px;
    overflow: hidden;
    border: 2px #000 solid;
    padding-left: 0px;
}

.book-img{
    position: relative;
    height: 430px;
    width: 250px;
}

.book-information{
    opacity: 0;
    padding: 10px;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    color: #ffffff;
    background-color: rgba(0,0,0, 0.9);
}

.book-header{
    font-size: 12pt;
    font-weight: bold;
}

.book-author{
    font-size: 10pt;
    padding-top: 10px;
}

.book-intro{
    font-size: 9pt;
    padding-top: 10px;
}

.book-price{
    font-size: 34pt;
    text-align: center;
    line-height: 100px;
    vertical-align: middle;
}

.book-buy button{
    position: absolute;
    bottom: 5px;
    width: 230px;
    padding: 5px;
    height: 50px;
}

.total{
    float: right;
    font-size: 16pt;
    margin-right: 15px;
}

.chose-buttons{
    float: right;
    margin-right: 15px;
}