body {
    position: relative; 
}
.affix {
    top:0;
    width: 100%;
    z-index: 9999 !important;
}


.black{
	padding-bottom: 50px;
	background: url(http://wallpaperswide.com/download/nature_scenes_24-wallpaper-1920x600.jpg) center;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.about{
	margin-top: 50px;
	text-align: center;
	font-size: 20pt;
	line-height: 200px;
}

#Features{
	text-align: center;
	margin-top: 50px;
	margin-bottom: 100px;
}

#Features span{
	font-size: 30pt;
}

#Features h3{
	margin-top: 5px;
}

.features{
	margin-top: 30px;
}

#Site_title{
	height: 400px;
	text-align: center;
	background: url(http://wallpaperswide.com/download/pure_nature_2-wallpaper-1920x540.jpg) center;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


#Site_title img{
	margin-top: 150px;
	width: 40px;
	height: 40px;
}

.page-header{
	margin-top: -20px;
	border: none;
}

.logo{
	width: 40px;
	height: 40px;
	margin-top: -10px;
}

.carousel-caption {
	top: 30%;
    bottom: auto;
}
.carousel-caption h1{
	font-size: 50pt;
}
.carousel-caption p{
	margin-top: 40px;
	font-size: 26pt;
}

.product{
	height: 500px;
	background-color: #F5F5F5;
	text-align: center;
}

.product_title{
	font-weight: bold;
	line-height: 100px;
	font-size: 18pt;

}

.description span{
	display: block;
	line-height: 30px;
	font-size: 13pt;
}

.price_count{
	font-size: 50pt;
}

.price{
	margin-bottom: 20px;
}

.black_line{
	height: 5px;
	background-color: black;
}
.price_count:before {
	display: inline-block;
    content:'$';
    font-size:15px;
    vertical-align: top;
    margin-top: 20px;
}

.buy{
	margin-top: 20px;
	color: #fff;
	background-color: #3c3c3c;
}

.buy:hover{
	color: #ccc;
}

.buy:focus{
	color: #ccc;
	outline: none;
}

.modal-title{
	line-height: 40px;
	text-align: center;
	font-size: 16pt;
}

.modal-body input{
	height: 40px;
	margin-top: 15px;
	color: #696969;

}
.modal-body{
	background-color:#E0E0E0;
}
.modal-body button{
	margin-top: 20px;
	width: 100%;
	height: 40px;
	background-color: #5773FF;
	border: none;
	color: #fff;
}

#Pricing{
	margin-bottom: 50px;
}

.section{
	background-color: #fff;
	margin:10px 5px 10px 5px;
	padding: 10px 15px 30px 20px;
}

.section_image img{
	float: left;
	width: 70px;
	height: 70px;
	margin-right: 20px;
	margin-top: 15px;
	padding-bottom: 5px;
}

#Services .about{
	color: #fff;
	line-height: 60px;
}

#Services .about p{
	font-size: 11pt;
	line-height: 14pt;
	margin-bottom: 50px;
}

#About{
	margin-bottom: 50px;
}

#Links{
	padding-top: 50px;
	background-color: #F5F5F5;
	padding-bottom: 50px;
}

#Links span{
	display: block;
}

#Footer{
	color: #ccc;
	line-height: 58px;
	height: 60px;
	background-color: #222;
}

.red_line{
	height: 3px;
	background-color: #FD4D4D;
}

.right{
	text-align: right;
}