.body{
    width: 415px;
    margin: 0 auto;
    font-family: sans-serif;
}

.title{
    font-size: 14pt;
    line-height: 60px;
    text-align: center;
    border-bottom: 1px solid #ccc;
}

.functions{
    padding: 10px;
    height: 50px;
    border-bottom: 1px solid #ccc;
}

.functions div{
    display: inline-block;
}

.search-field {
    height: 30px;
    width: 270px;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 5px;
}
.search-field:focus{
    outline: none;
    border: 2px solid #ccc;
}
#add{
    margin-left: 10px;
}

.add-bottom{
    background-color: #5bb85d;
    color: #fff;
    padding: 6px 10px 6px 10px;
    border-radius: 5px;
}
.add-bottom:hover{
    background-color: #2c8d24;
    cursor: pointer;
}


.contacts-list {
    padding: 0;
    width: 100%;
}

.contact {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 5px;
    border-bottom: 1px dotted #808080;
}

.contact-image {
    border-radius: 50%;
    margin: 5px;
    width: 60px;
    height: 60px;
}

.contact-name {
    margin-left: 0;
    font-size: 20px;
    font-weight: bold;
    width: 280px;
}

.contact-job {
    font-size: 18px;
    color: #808080;
}

.contact-remove {
    font-size: 20pt;
    color: #808080;
    text-align: center;
    line-height: 50px;
    padding-top: 3px;
    padding-right: 2px;
    border: 1px solid #808080;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
.contact-remove:hover{
    cursor: pointer;
    background-color: #f7f7f7;
}

.close-button{
   margin-left: 20px;
}


.employee-image{
    margin-top: 20px;
    text-align: center;
}

.employee-image img{
    display: inline-block;
    width: 100px;
    height: 100px;
}

.employee-name{
    text-align: center;
    margin-top: 20px;
    font-size: 22px;
    font-weight: bold;
}

.employee-job{
    text-align: center;
    margin-top: 15px;
    font-size: 18px;
    color: #808080;
}

.employee-back-button{
    text-align: center;
    margin-top: 30px;
}

.employee-back-button span{
    color: #b9b9b9;
    font-size: 20px;
}

.employee-back-button span:hover{
    color: #808080;
}