#slider-container {
    position: relative;
    overflow: hidden;
}

.img-gallery {
    position: relative;
    overflow:hidden;
}

.img-gallery img {
    display: inline-block;
    float: left;
}

.navigation {
    position: absolute;
    width: 100%;
    bottom: 3%;
    z-index: 1;
    text-align: center;
}

.navigation .dot{
    display: inline-block;
    width: 16px;
    height: 16px;
    cursor: pointer;
    border-radius: 16px;
    margin:0 20px;
    opacity: 0.9;
    border: 1px solid;
}


.prev,
.next{
    position: absolute;
    height: 100%;
    width: 120px;
    top: 0;
    z-index: 1;
    cursor: pointer;
    text-align: center;
    opacity: 0.8;
}

.prev span,
.next span{
    top: 45%;
    color: #fff;
    font-size: 30pt;
}

.prev{
    left:0;
}

.next{
    right:0;
}

.prev:hover{
    background: linear-gradient(to right, #000, rgba(0, 0, 0, 0));
    opacity: 1;
}

.next:hover{
    background: linear-gradient(to left, #000, rgba(0, 0, 0, 0));
    opacity: 1;
}
